{% import "macro/EV-IV.twig" as forms %}
<div class="row">
    <div class="col-md-12">
    {{ pokemon.name }} - {{ pokemon.numDex }}
    </div>
    <div class="col-md-4">
        <img />
        <p>
            {% if pokemon.getTypeOne %}
                <img src="{{ asset('images/type/Miniature_Type_'~ pokemon.getTypeOne.name|capitalize ~'_EB.png') }}" style="heigth: 15px; width: 68px">
                {% if pokemon.getTypeTwo %}
                    - <img src="{{ asset('images/type/Miniature_Type_'~ pokemon.getTypeTwo.name|capitalize ~'_EB.png') }}" style="heigth: 15px; width: 68px">
                {% endif %}
            {% endif %}
        </p>
        <div class="row">
            <label for="talent">Talent</label>
            <select name="talent" class="form-control col-md-12">
            {% if pokemon.getTalentOne %}
            <option> {{ pokemon.getTalentOne.name }} </option>
            {% endif %}
            {% if pokemon.getTalentTwo %}
            <option> {{ pokemon.getTalentTwo.name }} </option>
            {% endif %}
            {% if pokemon.getTalentHide %}
            <option> {{ pokemon.getTalentHide.name }} </option>
            {% endif %}
            </select>
            <label for="nature">Nature</label>
            <select name="nature" class="form-control col-md-12 statChangerName">
                {% for nature in natures %}
                <option data-aug="{{ nature.statAug }}" data-down="{{ nature.statDown }}">{{ nature.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-8">
        <div class="statChangerLVL">
        </div>
        <table class="table table-condensed table-bordered">
            <tbody class="statChangerStats">
            </tbody>
        </table>
    </div>
</div>
{% block script %}
<script src="{{ asset('js/statChanger.js') }}"></script>
<script>
    $(document).ready(function(){
        console.log(statChanger)
        var statChanger = new StatChanger('{{ pokemon.hp }}',
        '{{ pokemon.attack }}',
        '{{ pokemon.defense }}',
        '{{ pokemon.speattack }}',
        '{{ pokemon.spedefense }}',
        '{{ pokemon.speed }}'
        );

        statChanger.autoInit();
    })
</script>
{% endblock %}