{% extends 'base.html.twig' %}

{% block title %}Hello PokemonController!{% endblock %}

{% block body %}
    <button type="button" class="btn btn-primary modal-trigger" data-toggle="modal" href="#exampleModal3" data-target="{{ path('pokemon-add') }}">
                            Modifier
                        </button>
    <hr>
    <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Search for names..">
    <hr>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>TALENT</th>
                    <th>STAT</th>
                    <th>GEN</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody id="myUL">
                <tr scope="row">
                {% for pokemon in pokemons %}
                    <td scope="col-md-2">{{ pokemon.numDex }} - {{ pokemon.name }}</td>
                    <td scope="col-md-2">
                    {% if pokemon.getTypeOne != null %}
                        <img src="{{ asset('images/type/Miniature_Type_'~ pokemon.getTypeOne.name|capitalize ~'_EB.png') }}" style="heigth: 15px; width: 68px">
                        {% if pokemon.getTypeTwo != null %}
                            - <img src="{{ asset('images/type/Miniature_Type_'~ pokemon.getTypeTwo.name|capitalize ~'_EB.png') }}" style="heigth: 15px; width: 68px">
                        {% endif %}
                    {% endif %}
                    </td>
                    <td scope="col-md-2">empty</td>
                    <td scope="col-md-1">{{ pokemon.hp }} - {{ pokemon.attack }} - {{ pokemon.defense }} - {{ pokemon.speattack }} - {{ pokemon.spedefense }} - {{ pokemon.speed }} </td>
                    <td scope="col-md-2">
                    {% if pokemon.generation != null %}
                        {{ pokemon.generation }}
                    {% endif %}
                    </td>
                    <td scope="col-md-1">
                        <button type="button" class="btn btn-primary modal-trigger" data-toggle="modal" href="#exampleModal3" data-target="{{ path('pokemon-modification', {'id': pokemon.id }) }}">
                            Modifier
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<script>
$(document).ready(function() {
//On écoute le "click" sur le bouton ayant la classe "modal-trigger"
$('.modal-trigger').click(function () {
//On initialise les modales materialize
        $('.modal').modal();
        //On récupère l'url depuis la propriété "Data-target" de la balise html a
        url = $(this).attr('data-target');
        $.ajax({
            type: 'get',
            url: url,
            success: function(data){
                $('.modal-body').html(data);
            }
        })
        //on fait un appel ajax vers l'action symfony qui nous renvoie la vue
        //$.get(url, function (data) {
        //    console.log(data)
            //on injecte le html dans la modale
        //    $('.modal-content').html(data);
            //on ouvre la modale
        //    $('#modal1').modal('open');
        //});
    })
});
function myFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName('tr');
  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("td")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
{% endblock %}