{% extends 'base.html.twig' %}

{% block title %}Talent{% endblock %}

{% block body %}
{# {{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }} #}
<button type="button" class="btn btn-primary modal-trigger" data-toggle="modal" href="#exampleModal3" data-target="{{ path('talent-add') }}">
    Ajouter
</button>
<hr>

<div class="table-responsive">
    <table class="table table-sm table-bordered">
    <tbody>
        <tr>
        {% for talent in talents %}
            <td>{{ talent.name }}</td>
            <td>{{ talent.effetCombat }}</td>
            <td>
                <button type="button" class="btn btn-primary modal-trigger" data-toggle="modal" href="#exampleModal3" data-target="{{ path('talent-modification', {'id': talent.id}) }}">
                    Modifier
                </button>
                <button type="button" class="btn btn-danger modal-trigger" data-toggle="modal" href="#exampleModal3" data-target="{{ path('talent-modification', {'id': talent.id}) }}">
                    Suppression
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
<script>
$(document).ready(function() {
//On écoute le "click" sur le bouton ayant la classe "modal-trigger"
$('.modal-trigger').click(function () {
//On initialise les modales materialize
        $('.modal').modal();
        //On récupère l'url depuis la propriété "Data-target" de la balise html a
        url = $(this).attr('data-target');
        $.ajax({
            type: 'get',
            url: url,
            success: function(data){
                $('.modal-body').html(data);
            }
        })
        //on fait un appel ajax vers l'action symfony qui nous renvoie la vue
        //$.get(url, function (data) {
        //    console.log(data)
            //on injecte le html dans la modale
        //    $('.modal-content').html(data);
            //on ouvre la modale
        //    $('#modal1').modal('open');
        //});
    })
});
</script>
{% endblock %}