{% extends 'base.html.twig' %}

{% block title %}Hello AttackController!{% endblock %}

{% block body %}
<div class="row">
    {% for i in 0..5 %}
    <div class="col-md-2">
        <div class="card">
            <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16f10a2c961%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16f10a2c961%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2294%22%20y%3D%2296.9%22%3EImage%20cap%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    {% if pokemons[i] is defined %}
                        {{ pokemons[i].name }}
                    {% else %}
                        Pokemon n° {{ i + 1 }}
                    {% endif %}
                </h5>
                <p class="card-text">
                    {% if pokemons[i] is defined %}
                        {% if pokemons[i].getTypeOne %}
                            <img src="{{ asset('type/Miniature_Type_'~ pokemons[i].getTypeOne.name ~'_EB.png') }}" style="heigth: 15px; width: 68px">
                            {% if pokemons[i].getTypeTwo %}
                                - <img src="{{ asset('type/Miniature_Type_'~ pokemons[i].getTypeTwo.name ~'_EB.png') }}" style="heigth: 15px; width: 68px">
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </p>
            </div>
            {% if pokemons[i] is defined %}
                <div class="card-footer">
                {% for i in 0..3 %}
                    <button type="button" class="btn btn-success btn-sm modal-trigger" data-toggle="modal" href="#exampleModalScrollable" data-target="{{ path('attack-ajout', {'place': i }) }}">Add</button>
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    </div>
    <script>
$(document).ready(function() {
    $('.modal-trigger').click(function () {
            $('.modal').modal();
            url = $(this).attr('data-target');
            $.ajax({
                type: 'get',
                url: url,
                success: function(data){
                    $('.modal-body').html(data);
                }
            })
        });
    $('.modal').on('hidden.bs.modal', function (e) {
        document.location.href = "{{ path('app_team_coverage') }}"
    })
});
</script>
{% endblock %}
